
.panda-carosal-1{
    background-color: #fceae8;
} 
.cat-1 img{
    width: 100px;
    height: 100px;
}
.categorie-1{
    padding: 10px 30px;
    border-radius: 10px;
}
.categorie-2{
    padding: 10px 30px;
    border-radius: 10px;
}
.categorie-3{
    padding: 10px 30px;
    border-radius: 10px;
}